.advantages
  margin-top: 133px
  &-row
    display: flex
    flex-direction: row
    flex-wrap: wrap
    &:nth-of-type(1)
      margin-left: -30px
      margin-right: -30px
      justify-content: flex-start
      align-items: flex-start
  &-first, &-subblock, &-second
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-left: 15px
  &-third
    & img
      box-shadow: 0px 40px 40px rgba(126, 136, 173, 0.25)
  &-block, &-third
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
  &-head
    margin-left: 15px
  &-title
    font-weight: 300
    font-size: 72px
    line-height: 83px
    &::before 
      bottom: 13px
      right: 21px
  &-subtitle
    display: block
    max-width: 114px
    font-weight: 600
    font-size: 18px
    line-height: 21px
    margin-bottom: 52px
  &-exposition
    max-width: 129px
    margin: 0
    margin-bottom: 26px
    font-weight: 600
    font-size: 18px
    line-height: 19px
    color: $textcolor
  &-description
    display: inline-block
    max-width: 213px
    margin-bottom: 114px
    font-weight: normal
    font-size: 12px
    line-height: 12px
    color: $bullet
  &-descriptions
    display: inline-block
    max-width: 213px
    font-weight: normal
    font-size: 12px
    line-height: 12px
    color: $bullet
  &-block
    & img
      filter: drop-shadow(0px 40px 40px rgba(126, 136, 173, 0.25))
  &-image
    margin: 15px
    max-width: 100%
  &-production
    margin-left: 15px
    margin-top: 60px
  &-team
    display: flex
    flex-direction: column
    justify-content: flex-end
    & h4
      max-width: 112px
  &-fourth
    & img
      transform: translateY(-230px)
